body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #777;
    color: #444;
}
#content {
    margin: 0 auto;
    width: 960px;
}
#tabs {
    width: 560px;
    float: left;
}
#emoticonsScaleL {
    border: 0;
}
#frames {
    float: left;
    width: 900px;
}
button {
    float: right;
}
.dummyChat {
    position: relative!important;
    margin-left: 30px;
    margin-top: 10px;
    width: 300px;
    height: 400px;
    float: left;
    border: none;
}
.channelUrl {
    width: 500px;
    display: block;
}
.channelS {
    width: 100px;
}